
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('forras/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    padding: 64px 32px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MyFont';
}

main {
    background-repeat: no-repeat;
    max-width: 90vw;
    min-height: calc(100vh - 128px);
    margin: auto;
    background-color: #fff;
    border-radius: 12px;
    border: 3px solid black;
    @font-face {
    font-family: 'MyFont';
    src: url('./forras/Schoolbell-Regular.ttf') format('truetype');
}
}

h1 {
font-size: 28px;
font-weight: 400;
}
h2  {
font-size: 56px;
font-weight: 400;
}
p {
font-size: 24px;
max-width: 60ch;
font-weight: 400;
}

article {
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    display: grid;
}

article img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

section.nav {
    padding: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
}

section.nav button {
    color: #8d5b1a;
    background-color: #feda70;
    font-size: 20px;
    padding: 0.5rem;
    border: 3px solid black;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

section.nav button:hover {
    background-color: #f7c950;
}

footer {
    max-width: 1080px;
    color: #feda70;
    background-color: #8d5b1a;
    text-align: center;
    padding: 20px;
    margin: auto;

}

table {
    text-align: center;
    margin: auto;
    background-color: #8d5b1a;
}
