@font-face {
  font-family: "MyFont";
  src: url(forras/Schoolbell-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("forras/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  margin-top: 30px;
  box-sizing: border-box;
  font-family: "MyFont";
}

main {
  background-repeat: no-repeat;
  max-width: 90vw;
  width: 1200px;
  min-height: calc(100vh - 128px);
  margin: auto;
}

.tarolo {
  background-color: #fff;
  border-radius: 12px;
  border: 3px solid black;
}

h1 {
  padding: 30px;
  font-size: 28px;
  font-weight: 400;
}
h2 {
  font-size: 56px;
  font-weight: 400;
}
p {
  font-size: 24px;
  max-width: 60ch;
  font-weight: 400;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

nav {
  padding: 32px;
  display: grid;
  grid-template-columns: 80px 80px;
  gap: 16px;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #8d5b1a;
  background-color: #feda70;
  font-size: 20px;
  padding: 0.5rem;
  border: 3px solid black;
  border-radius: 12px;
}

nav a:hover {
  background-color: #f7c950;
}
/* Navigáció */

footer {
  color: #feda70;
  background-color: #8d5b1a;
  text-align: center;
  padding: 20px;
}
/* Táblázat formázása */

table {
  text-align: center;
  margin: auto;
  background-color: black;
  text-align: left;
  margin-bottom: 30px;
  width: 100%;
}
th {
  background-color: #8d5b1a;
  padding: 20px;
}

td {
  background-color: #feda70;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  article {
    grid-template-columns: 1fr;
  }
}
